<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="../css/style.css">-->
    <style type="text/css">
        .el-main {
            position: absolute;
            top: 70px;
            bottom: 0px;
            left: 200px;
            right: 10px;
            padding: 0;
            color: #ffff00;
            width: 1545px;
        }
    </style>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div id="app">
    <el-container>
        <el-header class="main-header" style="height:70px;">
            <nav class="navbar navbar-static-top" :class=''>
                <!-- Logo -->
                <a href="#" class="logo" style="text-align:center">
                    <span class="logo-lg"><img src="../img/logo.png"></span>
                </a>
                <div class="right-menu">
                    <span class="help"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
                    <el-dropdown class="avatar-container right-menu-item" trigger="click">
                        <div class="avatar-wrapper">
                            <img :src="loginUser.headimg" class="user-avatar">
                            {{loginUser.name}}
                        </div>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item divided>
                                <span @click="changeStyle('style.css')" style="display:block;">切换蓝色经典</span>
                            </el-dropdown-item>
                            <el-dropdown-item divided>
                                <span @click="changeStyle('style_yellow.css')" style="display:block;">切换黄色活力</span>
                            </el-dropdown-item>
                            <el-dropdown-item divided>
                                <span style="display:block;" @click="userSettings()">修改密码</span>
                            </el-dropdown-item>
                            <el-dropdown-item divided>
                                <span style="display:block;"><a href="/logout.do">退出</a></span>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </nav>
        </el-header>
        <el-container>
            <el-aside width="200px">
                <el-menu unique-opened>
                    <template v-for="menu in menuList" >
                        <el-menu-item :index="menu.path" v-if="menu.children!== undefined && menu.children!== null && menu.children.length==0">
                            <template slot="title">
                                <i class="fa" :class="menu.icon"></i>
                                <a :href="menu.linkUrl" target="right">{{menu.title}}</a>
                            </template>
                        </el-menu-item>
                        <el-submenu :index="menu.path" v-if="menu.children!== undefined && menu.children!== null && menu.children.length>0" >
                            <template slot="title">
                                <i class="fa" :class="menu.icon"></i>
                                {{menu.title}}
                            </template>
                            <template v-for="child in menu.children">
                                <el-menu-item :index="child.path">
                                    <a :href="child.linkUrl" target="right">{{child.title}}</a>
                                </el-menu-item>
                            </template>
                        </el-submenu>
                    </template>
                </el-menu>
            </el-aside>
            <el-conainer>
                <iframe id="main" name="right" class="el-main" src="workspace.html" width="100%" height="784px"
                        frameborder="0"></iframe>
            </el-conainer>
        </el-container>
    </el-container>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            isCollapse: true,
            username: "",
            menuList: [
                {
                    "path": "1",
                    "title": "工作台",
                    "icon": "fa-dashboard",
                    // "children": []
                },
                {
                    "path": "7",
                    "title": "地址管理",
                    "icon": "fa-address-md",
                    "children": [
                        {
                            "path": "/7-1",
                            "title": "机构地址",
                            "linkUrl": "address.html",
                            "children": []
                        },
                    ]
                },
                {
                    "path": "2",
                    "title": "用户管理",
                    "icon": "fa-user-md",
                    "children": [
                        {
                            "path": "/2-1",
                            "title": "用户管理",
                            "linkUrl": "user.html",
                            "children": []
                        },
                        {
                            "path": "/2-2",
                            "title": "角色管理",
                            "linkUrl": "role.html",
                            "children": []
                        },
                        {
                            "path": "/2-3",
                            "title": "权限管理",
                            "linkUrl": "permission.html",
                            "children": []
                        },
                    ]
                },
                {
                    "path": "3",
                    "title": "会员管理",
                    "icon":"fa-user-md",
                    "children": [
                        {
                            "path": "/3-1",
                            "title": "会员档案",
                            "linkUrl": "member.html",
                            "children": []
                        },
                        {
                            "path": "/3-2",
                            "title": "体检上传",
                            "children": []
                        },
                        {
                            "path": "/3-3",
                            "title": "会员统计",
                            "linkUrl": "all-item-list.html",
                            "children": []
                        },
                    ]
                },
                {
                    "path": "4",
                    "title": "预约管理",
                    "icon": "fa-tty",
                    "children": [
                        {
                            "path": "/4-1",
                            "title": "预约列表",
                            "linkUrl": "ordersettinglist.html",
                            "children": []
                        },
                        {
                            "path": "/4-2",
                            "title": "预约设置",
                            "linkUrl": "ordersetting.html",
                            "children": []
                        },
                        {
                            "path": "/4-3",
                            "title": "套餐管理",
                            "linkUrl": "setmeal.html",
                            "children": []
                        },
                        {
                            "path": "/4-4",
                            "title": "检查组管理",
                            "linkUrl": "checkgroup.html",
                            "children": []
                        },
                        {
                            "path": "/3-5",
                            "title": "检查项管理",
                            "linkUrl": "checkitem.html",
                            "children": []
                        },
                    ]
                },
                {
                    "path": "5",
                    "title": "健康评估",
                    "icon": "fa-stethoscope",
                    "children": [
                        {
                            "path": "/5-1",
                            "title": "中医体质辨识",
                            "linkUrl": "all-medical-list.html",
                            "children": []
                        },
                    ]
                },
                {
                    "path": "6",     //菜单项所对应的路由路径
                    "title": "统计分析",     //菜单项名称
                    "icon": "fa-heartbeat",
                    "children": [//是否有子菜单，若没有，则为[]
                        {
                            "path": "/6-1",
                            "title": "会员数量统计",
                            "linkUrl": "report_member.html",
                            "children": []
                        },

                        {
                            "path": "/6-2",
                            "title": "套餐预约数据统计",
                            "linkUrl": "report_setmeal.html",
                            "children": []
                        },

                        {
                            "path": "/6-3",
                            "title": "运营数据统计",
                            "linkUrl": "report_business.html",
                            "children": []
                        }
                    ]
                }
            ],
            cssStyle: 'style.css',
            loginUser: {}
        },
        created() {
            //页面加载时执行addStyle对页面进行样式的更改
            this.addStyle();
            //查询当前登录用户
            this.findLoginUser();
            /*axios.get("/user/findUsername.do").then((res)=>{
                if(res.data.flag){
                    this.username=res.data.data;
                }
            })*/
        },
        methods: {
            //加载样式
            addStyle() {
                axios.get('/style/getStyle.do').then((res) => {
                    this.cssStyle = res.data.message;
                    $("head").append('<link id="css_style" rel="stylesheet" href="../css/' + this.cssStyle + '">');
                });
            },
            //切换样式
            changeStyle(styleName) {
                this.cssStyle = styleName;
                axios.get('/style/changeStyle.do?styleName=' + styleName).then((res) => {
                });
                location.reload();
            },
            //更改main中显示的页面
            userSettings() {
                $("#main").prop('src', 'page-user.html');
            },
            //加载登录用户的用户信息
            findLoginUser() {
                axios.get('/user/findLoginUser.do').then((res) => {
                    if (res.data.flag) {
                        //查询用户信息成功
                        this.loginUser = res.data.data;
                        if (this.loginUser.headimg == null) {
                            this.loginUser.headimg = '../img/user2-160x160.jpg';
                        }
                        this.getMenuList(this.loginUser.id);
                    } else {
                        //查询用户信息失败
                        this.$message.error(res.data.message);
                    }
                })
            },
            getMenuList(uid) {
                axios.get('/menu/getMenuList.do?uid=' + uid).then((res) => {
                    this.menuList = res.data.data;
                })
            }
        }
    });
    /*    $(function() {
                var wd = 174;
                $(".el-main").css('width', $('body').width() - wd + 'px');
        });*/
</script>
</html>
